.container {
  height: 60px;
  padding: 0px;
  background: white;
  display: flex;
}

.box {
  width: 60px;
  height: 60px;
  outline: 1px solid black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.display {
    width: 237px;
    height: 60px;
    border: 2px solid black;
    border-bottom: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    flex-direction: row-reverse;
    font-size: xxx-large;
}